.logo {
  float: left;
  width: 100px;
  height: 60px;
  background: #555;
}
h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: #ED1C22;
}
.kioks {
  width: 100%;
  padding-bottom: 20px;
  margin: 0px;
  position: relative;
  @media (max-width: 600px){
    flex-wrap: wrap;
  }
}


