.logo {
  float: left;
  width: 100px;
  height: 60px;
  background: #555;
}
h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: #ED1C22;
}
#kioks {
  position: relative;
  top: 18px;
  left: 10px;
  width: 60%;
  margin: 20px auto;
  text-align: center;
}
@media screen (max-width:100%;){#kioks{width:auto;}}

