.logo {
  float: left;
  width: 100px;
  height: 60px;
  background: #555;
}
h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: #ED1C22;
}
.kioks {
  width: 60%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}
.kioks iframe {
   position: absolute;
   width: 60%;
   height: 100%;
}

