.logo {
  float: left;
  width: 100px;
  height: 60px;
  background: #555;
}
h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: #ED1C22;
}
.kioks {
  width: 70%;
  padding-bottom: 50%;
  margin: 0px;
  position: relative;
}
.kioks iframe {
   position: absolute;
   width: 100%;
   height: 60%;
}
.content {
   margin-top: 50px;
}

